div[role=page]{
  font-family: "Segoe UI", "宋体";
  font-size: 12pt;
  width: 595pt;
  height: 842pt;
  margin: 2pt;
}

div[role=page] div[role=page-head], div[role=page] div[role=page-foot]{
  width: 595pt;
  background:#DDD;
}
div[role=page] div[role=page-body]{
  width: 595pt;
}

figure:after{
  content: " ";
}
