/* ============== global styles =================*/
body{
  font-family: 'Segoe UI', 'Microsoft YaHei';
}
:focus{
  outline: none;
}
select{
  font-family: 'Consolas', 'Microsoft YaHei';
  height: 22px;
}
#panel_file_list ul, #panel_file_list li{
  list-style: none;
  padding-left: 0;
}
input[type=text]{
  height: 22px;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}
.tiny-radius{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
form span{
  line-height: 24px;
}
.form-control{
  padding: 0 6 0 6;
  height: 24px;
}
/*==============================================*/
canvas{
  position: absolute;
}
.plot-legend-row{
  display: flex;
  align-items: center;
}
.plot-legend-cursor-value{
  display: inline-block;
  width: 48px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.plot-legend-swatch{
  width: 11px;
  height: 11px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2 6 0 6;
  line-height: 20px;
}
.plot-legend-title{
  line-height: 20px;
  font-size: 12px;
  font-family: 'Segoe UI' !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 120px;
}
/*==============================================*/
#fixed-toolbar-wrapper{
  display:flex;
  flex-direction:column;
  background-color: #EEE;
  padding-top: 4px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.3);
}
.toolbar-head{
  height:24px;
  display: flex;
  flex-direction:row;
  align-items:flex-end;
}
.toolbar-head li{
  cursor: pointer;
}
.toolbar-body li.active{
  display: run-in;
}
.toolbar-body li.inactive{
  display: none;
}
.toolbar-body{
  width: 100%;
  height: 64px;
  border: 1px solid #CCC;
  margin-top: -1px;
  padding: 6 0 2 0;
  z-index: 8;
  background-color: white;
}
.toolbar-body li{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.toolbar-body ul li i{
  transition: 0.4s;
  cursor: pointer;
}
.toolbar-body i:not(.disabled):hover{
  color: #000;
  text-shadow: 0px 0px 20px #000;
}
.toolbar-body ul li i p{
  font-size: 12px;
  padding: 2 0 0 0;
}
.toolbar-body ul li .toolbar-group{
  padding: 0 10 0 10;
  text-align: center;
}
.toolbar-group p font{
  font-size: 12px;
  margin-left: 3px;
}
.toolbar-group i.disabled{
  color: rgb(201, 201, 201);
  cursor: not-allowed;
}
/*==============================================*/
#workplace-list .active{
  display: inherit;
  list-style: none;
}
#workplace-list .inactive{
  display: none;
  list-style: none;
}
#workplace-list{
  padding-left: 0;
}
/*==============================================*/
.myPanel-small-320{
  display:flex;
  flex-direction:column;
  width: 320px;
}
.myPanel-head{
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 16px;
}
.myPanel-body{
  width: 100%;
  height: 320px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
  overflow-x: hidden;
}

.myList-compact{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.myList-item{
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: white;
  z-index: 1;
  transition: 0.6s;
}
.myList-item:hover{
  color: #3367d6;
  background-color: #f3f3f3;
  z-index: 99;
  cursor: pointer;
  transition: 0.4s;
}

.myList-flex-row{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.myList-flex-row .active, .myList-flex-row .inactive{
  height: 100%;
  z-index: 9;
}
.myList-flex-row .active .tab-body{
  height: 100%;
  padding: 0 10 0 10;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid white;
  background-color: white;
}
.myList-flex-row .inactive .tab-body{
  height: 100%;
  padding: 0 10 0 10;
  border-bottom: 1px solid #CCC;
}
/* color */
.background-googleblue{
  background-color: rgb(51, 104, 213);
  color: white;
}
/*=============== json ul tree ======================*/
.json-ul-tree{
  -webkit-padding-start: 10;
  padding-left: 10;
  font-family: 'Consolas', monospace;
  font-weight: 600;
}
.json-ul-tree ul, .json-ul-tree li{
  list-style: none;
  padding-left: 10px;
}
.json-ul-tree .icon-expand, .json-ul-tree .icon-blank, .json-ul-tree .icon-collapse{
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-right: 5;
}
.json-ul-tree .icon-expand{
  background-image: url('../resource/icon/jsoneditor-icons.svg');
  background-position: -5 -77px;
}
.json-ul-tree .icon-collapse{
  background-image: url('../resource/icon/jsoneditor-icons.svg');
  background-position: -5 -53px;
}
.json-ul-tree .keyname{
  color: #333;
}
.json-ul-tree .keyvalue-string{
  color: #db4437; /*red*/
  margin-left: 10;

}
.json-ul-tree .keyvalue-number{
  color: #0006ff; /*blue*/
  margin-left: 10;

}
.json-ul-tree .keyvalue-boolean{
  color: #8e24aa; /*purple*/
  margin-left: 10;

}
.json-ul-tree .childrenCount{
  color: #666;
  margin-left: 10;
}
.json-tr-collasped{
  display: none;
}
.arrow-right {
    width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #666;
}
.arrow-down {
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #666;
}
details{
  padding-left: 10;
  font-family: 'Consolas', monospace;
}
details p{
  padding: 0 0 0 10;
  margin: 0;
}
/*======================================================*/
#DCM_condition_area{
  padding-left: 10px;
}
#DCM_list{
  width: 100%;
  margin-bottom: 24px;
  height: 240px;
  overflow-y: scroll;
}
#DCM_list, #DCM_list li{
  padding-left: 3px;
  list-style: none;
  cursor: pointer;
}
#list_condition_added{
  padding-left: 40px;
  margin-top: 10px;
}
#list_condition_added li{
  transition: 1s;
  padding-left: 0px;
}
#list_condition_added .key1{
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  font-weight: normal;
}
#list_condition_added .key2{
  font-family: 'Consolas';
  font-size: 14px;
  font-weight: normal;
}
/*======================================================*/
.myPanel{
  box-shadow: 0 0px 2px rgba(0,0,0,0.3);
}
.myPanel-toolbar select{
  border:none;
}
.myPanel-toolbar i{
  font-size: 14px;
  margin: 0 3px;
  cursor: pointer;
}
.myPanel-toolbar select[role=category]{

}
.myPanel div[role=head]{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F3F3F3;
  border-bottom: 1px solid rgba(158, 158, 158, 0.25);
  padding: 3px 5px 3px 5px;
}
.myPanel div[role=body]{
  font-size: 12px;
}
.table-wrapper{
  display: flex;
  flex-direction: column;
  flex:1;
}
.table-head{
  background-color: #F3F3F3;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
  font-weight: normal;
}
table tr[data-stripe=odd]{
  background-color: rgba(0, 0, 0, 0.075);
}
table .key-column{
  border-left: none !important;
}
table .value-column{
  border-left: 1px solid #AAA;
}
table td, table th{
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table .corner{
  border-left: none !important;
  width: 16px;
}
table tr[data-stripe=even]{
  background-color: white;
}
table .editing{
  -webkit-user-modify: read-write-plaintext-only;
  text-overflow: clip !important;
  -webkit-user-select: text;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),
              0 2px 4px rgba(0, 0, 0, 0.2),
              0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  outline: none !important;
}
.myPanel div[role=foot]{
  padding: 3px 5px 3px 5px;
  background-color: #F1F1F1;
  border-top: 1px solid rgba(158, 158, 158, 0.25);
}

/*======================================================*/

table .td-align-right i{
  color: rgb(206, 206, 206);
  transition: 0.4s;
}
table .td-align-right i:hover{
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.table_style01{
  table-layout: fixed;
}
.table_style01 tr{
  transition: 0.4s;
}

.table_style01 span[role=subtitle]{
  font-size: 11px;
  color: #999;
}
.table_style01 .selected *{
  background-color: #3f51b5 !important;
  color: white !important;
}
.table_style01 .unselected{
  background-color: white;
}
.table_style01 td{
  vertical-align: text-top;
  font-size: 13px;
  word-break: break-all;
  padding-bottom: 10px;
}
.table_style01 td span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.td-align-right{
  text-align: right;
}
/*======================================================*/
